<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stream.employeemanagement.mapper.EmployeeMapper">
    <select id="pagedSearch" resultType="com.stream.employeemanagement.pojo.Employee">
        select * from employees
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
            <if test="sex != null">
                and sex = #{sex}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
            <if test="createTimeFrom != null">
                and create_time >= #{createTimeFrom}
            </if>
            <if test="createTimeTo != null">
                and create_time &lt;= #{createTimeTo}
            </if>
        </where>
        limit #{limit} offset #{offset}
    </select>
    <delete id="deleteByIds">
        delete from employees where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>